<div class = "articles" >
  <h2><%= @title %></h2>
  <% if current_user.admin? %>
  <div class = "articles new_article_button">
    <%= link_to t('.new'), new_article_path %>
  </div>
  <% end %>
  <hr />
  <br />
  <%= render @articles %>
  <%= will_paginate %>
</div>
