<li>
  <div class = "button_show">
    <%= link_to user_full_name(user), user %>
  </div>

  <% if current_user.admin? %>
  <div class = "button_delete">
    <%= link_to t('.delete'), nil, :object_url => user_url(user) %>
  </div>
  <% end %>
  <br />
</li>
