<div class = "user edit">
<h2><%= @title %></h2>
<hr />
<%= form_for(@user) do |f| %>
  <%= render 'users/fields', :f => f %>
  <div class="actions">
    <%= f.submit t('buttons.update') %>
  </div>
<% end %>
</div>
