<h2><%= @title %></h2>
<hr />
<br />
<p>Кафедра инженерной графики — общеобразовательная кафедра, находящаяся <br />
в структуре факультета ФЭМ. Ведёт подготовку студентов университета по <br />
инженерной и машинной графике. <p>
