<%= include_google_maps %>
<h2><%= @title %></h2>
<hr />
<br />
<p>Тут когда-нибудь что-нибудь будет</p>
<br />
<p>А пока вы можете посмотреть <a href = "" id = "map_button">схему проезда</a></p>
<div id="map_canvas"></div>
