<%= include_google_maps %>
<h2><%= @title %></h2>
<hr />
<br />
<p><b>ФГБОУ ВПО МГТТУ "Станкин", Кафедра инженерной графики</b></p>
<p>тел.: (499) 972-94-50</p>
<p>тел.: (499) 972-95-44</p>
<p><a href = "" id = "map_button">г. Москва, 127055, Вадковский пер., дом 3A</a></p>
<br />
<div id="map_canvas"></div>
