<%= form_tag({:action => :upload}, :method => :post, :multipart => true) do |f| %>
  <div class="field">
    <%= label_tag t('.file_name') %>
    <%= file_field_tag :file %>
  </div>
  <div class="actions">
    <%= submit_tag t('buttons.upload') %>
  </div>
<% end %>
