.articles {
  .table {
    padding-top: 18px;
  }

  .table:hover .button_delete {
    visibility: visible;
  }

  .table:hover .content {
    background: #fbfbfb;
    border-style: solid;
    border-width: 1px;
    border-color: $medium_grey;
    padding: 5px;
  }

  .table:hover hr {
    background: $medium_grey;
  }

  .button_delete {
    float: right;
    margin-top: -16px;
    margin-right: -2px;
    opacity: 0.3;
    visibility: hidden;
  }

  .button_delete:hover {
    opacity: inherit;
  }

  .button_delete a {
    content: url(buttons/delete.gif);
  }

  .button_edit {
    @include grey_link;
  }

  .button_edit:before {
    color: #999;
    content: "|";
    padding-left: 4px;
  }

  .author {
    float: left;
    @include grey_link;
  }

  .time {
    float: left;
    color: #999;
  }

  .time:before {
    color: #999;
    content: "|";
    padding-left: 4px;
  }

  .info {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 2px;
    font-size: $font_small;
    color: $dark_grey;
  }

  label {
    padding-bottom: 2px;
    display: none;
  }

  textarea {
    width: 990px;
    font-size: $font_normal;
  }

  .button_new {
    margin-right: -4px;
    font-size: $font_small;
  }

  .button_new a {
    float: right;
    color: $light_grey;
    text-decoration: none;
    margin-right: 600px;
    margin-top: -21px;
    background: url(buttons/add.gif);
    background-repeat: no-repeat;
    background-position: 96% 8px;
    padding: 5px 10px;
    cursor: pointer;
    opacity: 0.3;
  }

 .button_new a:hover {
    color: $basic_text_color;
    background-color: $medium_grey;
    opacity: inherit;
  }

  .button_new a:after {
    content: " ";
    margin-right: 14px;
  }
}

.articles.content {
  width: 100%;
  min-height: 100px;
  border-radius: 4px;
  padding: 6px;
  margin-left: -6px;
  background: $medium_grey;

  h1, h2, h3, h4, h5, h6 {
    font-size: $font_normal;
  }

  img {
    padding: 0px 10px 10px 0;
    float: left;
  }

  hr {
    width: 100%;
    height: 1px;
    background: $grey;
    border-width: 0;
  }
}
