.field_with_errors {
  padding: 4px;
  margin-top: -4px;
  margin-left: -4px;
  background: #c0391b;
  border-radius: 4px;
  display: table;

  label {
    color: #fff;
    padding-right: 3px;
  }
}

#error_explanation {
  width: 390px;
  border: 4px solid #c0391b;
  padding: 4px;
  margin-left: -4px;
  margin-top: 10px;
  border-radius: 4px;
  background: #e9cec8;
  font-size: $font_small;

  ul li {
    list-style-type: none;
  }
}

.flash {
  width: 100% -32px;
  height: 20px;
  padding: 10px 14px 6px 14px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;
}

.flash.success {
  color: #557230;
  background: #cdf08b;
}

.flash.error {
  color: #fff;
  background: #c0391b;
}

.flash.notice {
  color: #c0391b;
  background: #fcd2a8;
}
