#message {
  width: 360px;
  height: 140px;
  background: $grey;
  position: absolute;
  top: 50%;
  margin-top: -70px;
  left: 50%;
  margin-left: -180px;
  border: 5px solid $dark_grey;
  border-radius: 4px;
  cursor: default;

  .button_ok {
    margin-left: 40px;
  }

  .button_cancel {
    margin-left: 70px;
  }

  a {
    background-color: $dark_grey;
    border: 1px solid $black;
    font-size: $font_small;
    cursor: pointer;
    padding: 5px 10px 6px 7px;
    margin: 50px 10px;
    float: left;
    text-align: center;
    text-decoration: none;
    color: $light_grey;
    display: block;
    min-width: 80px;
  }

  p {
    color: $black;
    width: 100%;
    text-align: center;
    padding-top: 22px;
  }
}

#message_background {
  position: absolute;
  top: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background: black;
}
