.picture {
  width: $content_width - 48px;
  border-width: 2px;
  border-style: solid;
  border-color: $medium-grey;
  background: white;  
  height: 400px;
  
  canvas {
    width: inherit;
    height: inherit;
  }
}

.board_tools_button { 
  margin-bottom: 2px;
  width: 38px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: white;
  border-width: 2px;
  border-color: $medium-grey;
  border-radius: 2px;
}

.board_tools_button:hover {
  background-color: #e3f4c3;
  border-color: $light-green;  
}
