.picture {
  width: $content_width - 48px;
  border-width: 2px;
  border-style: solid;
  border-color: $medium-grey;
  background: white;  
  height: 400px;
  
  canvas {
    width: inherit;
    height: inherit;
  }
}
