.storage {
  width: 100%;

  .field {
    margin-bottom: 10px;
  }

  #file {
    width: 400px;
  }

  label {
    padding-bottom: 2px;
    display: table;
  }

  #storage_title {
    width: 992px;
  }

  textarea {
    width: 990px;
    font-family: inherit;
  }

  .description {
    width: 100%;
    min-height: 100px;
    border-radius: 4px;
    padding: 6px;
    margin-left: -6px;
    background: #fbfbfb;
    border-style: solid;
    border-width: 1px;
    border-color: $medium_grey;
    padding: 5px;
  }

  .button_edit a {
    float: right;
    margin-top: -16px;
    margin-right: -2px;
    opacity: 0.3;
  }

  .button_edit a:hover {
    opacity: inherit;
  }

  .button_edit a {
    content: url(buttons/edit.gif);
  }

  .info {
    padding-top: 4px;
    padding-bottom: 2px;
    font-size: $font_small;
    color: $dark_grey;
  }

  .author {
    width: auto;
    float: left;
    @include grey_link;
  }

  .time {
    width: auto;
    float: left;
    color: #999;
  }

  .time:before {
    color: #999;
    content: "|";
    padding-left: 4px;
  }

  .button_download {
    @include grey_link;
  }

  .button_download:before {
    color: #999;
    content: "|";
    padding-left: 4px;
  }
}

.storage.list {

  width: 400px;

  ul li {
    @include black_link;

    list-style-type: none;
    padding-bottom: 2px;
  }

  li {
    cursor: pointer;
    border-radius: 2px;
    padding-left: 4px;
    margin-left: -4px;
  }

  li:hover {
    background: $medium_grey;
  }

  li:hover .button_delete {
    visibility: visible;
  }

  .button_show {
    float: left;
  }

  .button_delete {
    float: right;
    opacity: 0.3;
    padding-top: 2px;
    padding-right: 4px;
    visibility: hidden;
  }

  .button_delete:hover {
    opacity: inherit;
  }

  .button_delete a {
    content: url(buttons/delete.gif);
  }
}
