.storage {
  width: 100%;

  .field {
    margin-bottom: 10px;
  }

  #file {
    width: 400px;
  }

  label {
    padding-bottom: 2px;
    display: table;
  }
}

.storage.list {

  width: 400px;

  ul li {
    @include black_link;

    list-style-type: none;
    padding-bottom: 2px;
  }

  li {
    cursor: pointer;
    border-radius: 2px;
    padding-left: 4px;
    margin-left: -4px;
  }

  li:hover {
    background: $medium_grey;
  }
}
