.user {
  width: 400px;
}

.user h2 {
  font-size: 16px;
}

.user ul li {
  list-style-type: none;
  padding-bottom: 2px;
}

.user.info p,
.user.login p {
  font-size: 14px;
}

.user hr {
  width: 100%;

  margin: 10px 0px;

  background: #f7f7f7;

  border-bottom-color: #ddd;
	border-top-color: #f7f7f7;
	border-width: 1px 0px;
	border-style: solid;
}

.user.new label,
.user.login label,
.user.edit label {
  font-size: 14px;
  padding-bottom: 2px;
  display: table;
}

.field {
  margin-bottom: 10px;
}

//#user_surname {
  //text-transform: capitalize;
//}

//#user_initials {
  //text-transform: uppercase;
//}
