.user {
  width: 400px;
}

.user h2 {
  font-size: 16px;
}

.user.info p,
.user.login p {
  font-size: 14px;
}

.user hr {
  width: 100%;

  margin: 10px 0px;

  background: #f7f7f7;

  border-bottom-color: #ddd;
	border-top-color: #f7f7f7;
	border-width: 1px 0px;
	border-style: solid;
}

.user.new label,
.user.login label,
.user.edit label {
  font-size: 14px;
  padding-bottom: 2px;
  display: table;
}

.field {
  margin-bottom: 10px;
}

.user.list ul li {
  list-style-type: none;
  padding-bottom: 2px;
  font-size: 14px;
}

.user.list ul li a {
  text-decoration: none;
  color: #383838;
}

.user.list ul li a:hover {
  text-decoration: underline;
}

.user.list li {
  cursor: pointer;
  border-radius: 2px;
  padding-left: 4px;
  margin-left: -4px;
}

.user.list li:hover {
  background: #e5e5e5;
}

.show_user_button {
  float: left;
}

.delete_user_button {
  float: right;
  font-size: 12px;
  padding-top: 1px;
  padding-right: 4px;
}
